@font-face {
    font-family: "BelisaPlumilla";
    src: url("fonts/belisa_plumilla.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --klei: "BelisaPlumilla";

    --primary: #1f1f1f;
    --secondary: #daa520;
    --tertiary: #ffffff;

    --primaryGradient: linear-gradient(144deg, #000000 5%, var(--primary) 50%, #000000 95%);
}

body {
    margin: 0;
    font-family: var(--klei), sans-serif;
    background: var(--primaryGradient);
    
    color: #eee;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.button {
    font-family: var(--klei);
    font-size: 24px;
    color: var(--tertiary);

    border: 2px solid var(--tertiary);
    border-radius: 6px;

    padding: 25px;

    cursor: pointer;
    transition: all 0.2s ease;

    &:hover{
        font-size: 28px;
        color: var(--secondary);
    }
}

#header {
    width: 100%;

    background-color: var(--secondary);

    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    #connecting-section {
        font-size: 36px;
    }

    #connected-section {
        font-size: 36px;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #klei-secret-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        background-color: var(--tertiary);

        #klei-secret-button {
            font-family: var(--klei);
            font-size: 24px;
            color: var(--primary);

            background-color: var(--tertiary);

            border: 2px solid var(--primary);
            border-radius: 6px;

            padding: 10px;

            cursor: pointer;
            transition: all 0.2s ease;

            &:hover{
                color: var(--tertiary);
                background-color: var(--primary);
                border: 2px solid var(--tertiary);
            }
        }
    }
}

#main-body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}