@font-face {
    font-family: "BelisaPlumilla";
    src: url("fonts/belisa_plumilla.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
    --klei: "BelisaPlumilla";

    /* --primary: #1f1f1f;
    --secondary: #daa520; */
    --tertiary: #ffffff;

    /* --primaryDark: #000000;
    --secondaryDark: #956b00; */

    --primary: #daa520;
    --secondary: #1f1f1f;

    --primaryDark: #956b00;
    --secondaryDark: #000000;

    --primaryGradient: linear-gradient(144deg, var(--primaryDark) 5%, var(--primary) 50%, var(--primaryDark) 95%);
    --secondaryGradient: linear-gradient(150deg, var(--secondaryDark) 5%, var(--secondary) 50%, var(--secondaryDark) 95%);
    --secondaryGradientAlt: linear-gradient(27deg, var(--secondaryDark) 13%, var(--secondary) 70%, var(--secondaryDark) 95%);
}

body {
    margin: 0;
    font-family: var(--klei), sans-serif;
    background: var(--primaryGradient);
    
    color: var(--tertiary);

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100%;
}

#header {
    width: 100%;

    background: var(--secondaryGradient);

    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    #connecting-section {
        font-size: 36px;
    }

    #connected-section {
        font-size: 36px;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        #status-section {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 20px;
        }

        #user-section {
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 28px;
        }
    }

    #not-connected-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        gap: 20px;

        /* background-color: var(--tertiary); */

        #klei-secret-input {
            border: 2px solid var(--primary);
            color: var(--secondaryDark);
            background-color: var(--tertiary);

            border-radius: 6px;

            font-family: sans-serif;
            font-size: 12px;
            text-align: center;

            outline: none;

            width: 200px;
            padding: 10px 0px;

            max-height: 30px;

            transition: border-color 0.2s ease;

            &:focus {
                border-color: var(--tertiary);
                color: var(--secondaryDark);
                background-color: var(--primary);
            }

            &::placeholder {
                font-size: 22px;
                font-family: var(--klei);
                color: var(--secondary)
            }
        }
    }

    #no-connection-section {
        font-size: 30px;
        color: #d13a3a;
    }

    .header-button {
        font-family: var(--klei);
        font-size: 28px;
        color: var(--tertiary);

        background-color: var(--primary);

        border: 2px solid var(--tertiary);
        border-radius: 6px;

        padding: 2px 12px;
        max-height: 30px;

        cursor: pointer;
        transition: all 0.2s ease;

        &:hover{
            color: var(--primary);
            background-color: var(--tertiary);
            border: 2px solid var(--primary);
        }
    }
}

#main-body {
    width: 100%;
    height: 100%;

    .button {
        font-family: var(--klei);
        font-size: 24px;
        color: var(--tertiary);

        border: 2px solid var(--tertiary);
        border-radius: 6px;

        padding: 25px;

        cursor: pointer;
        transition: all 0.2s ease;

        &:hover{
            font-size: 28px;
            color: var(--secondary);
        }
    }

    .wagstaff {
        height: 200px;
    }

    #no-server-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        #bones {
            width: 55vw;

            animation: fadeIn 0.7s ease-out both;
        }

        #top-msg-no-server {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 1s;
            font-size: 40px;
        }

        #bot-msg-no-server {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 1.8s;

            font-size: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 25px;
            width: 100%;

            #discord {
                height: 60px;

                cursor: pointer;

                transition: all 0.2s ease-in;

                &:hover{
                    transform: scale(1.22) rotate(10deg);
                }
            }

            #gramophone {
                height: 60px;
            }
        }
    }

    #not-connected-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        font-size: 36px;

        #top-row-not-connected {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 0.5s;
        }

        #bot-row-not-connected {
            animation: fadeIn 0.4s ease-out both;
            animation-delay: 1.2s;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 15px;
            max-width: 85%;

            img {
                max-height: 95px;
            }

            .label {
                font-size: 36px;
                text-wrap: balance;
                text-align: center;

                .clickable {
                    font-weight: 600;
                    color: var(--tertiary);

                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover{
                        color: var(--secondary);
                        transform: scale(1.05);
                    }
                }
            }
        }
        
    }

    #connected-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
    }
}

#footer {
    width: 100%;
    height: 40px;

    background: var(--secondaryGradientAlt);
}