@font-face {
    font-family: "BelisaPlumilla";
    src: url("fonts/belisa_plumilla.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --klei: "BelisaPlumilla";

    --primary: #4d4d4d;
    --secondary: #daa520;
    --tertiary: #ffffff;
}

body {
    margin: 0;
    font-family: var(--klei), sans-serif;
    background: #111;
    color: #eee;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
}

.button {
    font-family: var(--klei);
    font-size: 48px;
    color: var(--tertiary);

    border: 2px solid var(--tertiary);
    border-radius: 6px;

    padding: 25px;

    cursor: pointer;
    transition: all 0.2s ease;

    &:hover{
        font-size: 54px;
        color: var(--secondary);
    }
}

#header {
    width: 100%;

    background-color: var(--secondary);

    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    #connecting-section {
        font-size: 36px;
    }

    #connected-section {
        font-size: 36px;
    }

    #klei-secret-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        background-color: var(--tertiary);

        #klei-secret-button {
            font-family: var(--klei);
            font-size: 24px;
            color: var(--primary);

            background-color: var(--tertiary);

            border: 2px solid var(--primary);
            border-radius: 6px;

            padding: 10px;

            cursor: pointer;
            transition: all 0.2s ease;

            &:hover{
                color: var(--tertiary);
                background-color: var(--primary);
                border: 2px solid var(--tertiary);
            }
        }
    }
}