@font-face {
    font-family: "BelisaPlumilla";
    src: url("fonts/belisa_plumilla.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulsing {
    20% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8) rotate(15deg);
    }
    70% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes enterLeft {
    0% {
        transform: translateX(-100vw) rotate(-50deg);
    }
    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    35% { transform: rotate(0deg); }
    45% { transform: rotate(40deg); }
    55% { transform: rotate(-30deg); }
    65% { transform: rotate(20deg); }
    80% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

:root {
    --klei: "BelisaPlumilla";

    /* --primary: #1f1f1f;
    --secondary: #daa520; */
    --tertiary: #ffffff;

    /* --primaryDark: #000000;
    --secondaryDark: #956b00; */

    --primary: #daa520;
    --secondary: #1f1f1f;

    --primaryDark: #956b00;
    --secondaryDark: #000000;

    --warning: #d13a3a;

    --primaryGradient: linear-gradient(144deg, var(--primaryDark) 5%, var(--primary) 50%, var(--primaryDark) 95%);
    --secondaryGradient: linear-gradient(150deg, var(--secondaryDark) 5%, var(--secondary) 50%, var(--secondaryDark) 95%);
    --secondaryGradientAlt: linear-gradient(27deg, var(--secondaryDark) 13%, var(--secondary) 70%, var(--secondaryDark) 95%);
}

body {
    margin: 0;
    font-family: var(--klei), sans-serif;
    background: var(--primaryGradient);
    
    color: var(--tertiary);

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100%;

    overflow: hidden;
}

#header {
    width: 100%;

    background: var(--secondaryGradient);

    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    #no-cluster-section {
        font-size: 36px;
        color: var(--warning);
    }

    #no-path-section {
        font-size: 36px;
    }

    #connecting-section {
        font-size: 36px;
    }

    #connected-section {
        font-size: 36px;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        #status-section {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 20px;
        }

        #user-section {
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 28px;
        }
    }

    #not-connected-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        gap: 20px;

        /* background-color: var(--tertiary); */

        #proxy-secret-input {
            border: 2px solid var(--primary);
            color: var(--secondaryDark);
            background-color: var(--tertiary);

            border-radius: 6px;

            font-family: sans-serif;
            font-size: 12px;
            text-align: center;

            outline: none;

            width: 200px;
            padding: 10px 0px;

            max-height: 30px;

            transition: border-color 0.2s ease;

            &:focus {
                border-color: var(--tertiary);
                color: var(--secondaryDark);
                background-color: var(--primary);
            }

            &::placeholder {
                font-size: 22px;
                font-family: var(--klei);
                color: var(--secondary)
            }
        }
    }

    #no-connection-section {
        font-size: 30px;
        color: var(--warning);
    }

    .header-button {
        font-family: var(--klei);
        font-size: 28px;
        color: var(--tertiary);

        background-color: var(--primary);

        border: 2px solid var(--tertiary);
        border-radius: 6px;

        padding: 2px 12px;
        max-height: 30px;

        cursor: pointer;
        transition: all 0.2s ease;

        &:hover{
            color: var(--primary);
            background-color: var(--tertiary);
            border: 2px solid var(--primary);
        }
    }
}

#main-body {
    width: 100%;
    height: 100%;

    #no-cluster-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    
        padding: 30px 0px;
        gap: 20px;

        font-size: 30px;

        #no-cluster-top {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 0.2s;
        }

        #no-cluster-bot {
            animation: fadeIn 0.4s ease-out both;
            animation-delay: 2.8s;
        }

        #no-cluster-help {
            animation: fadeIn 0.3s ease-out both;
            animation-delay: 3.2s;
        }

        .no-cluster-txt {
            text-align: center;
            text-wrap: balance;

            width: 100%;
        }

        #no-cluster-path {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            gap: 15px;

            animation: fadeIn 0.4s ease-out both;
            animation-delay: 1.2s;

            .label {
                font-size: 30px;
                text-align: center;
                text-wrap: balance;
            }

            img {
                max-width: 75px;
                animation: shake 2s ease-in-out infinite both;
            }
        }
    }

    #no-path-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        gap: 40px;
        margin-top: 10px;

        #no-path-title {
            animation: fadeIn 0.7s ease-out both;
        }

        #no-path-info {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 1.2s;
        }

        #no-path-tools {
            animation: fadeIn 0.4s ease-out both;
            animation-delay: 2.1s;

            .label{
                font-size: 28px;
                font-weight: 600;
                text-shadow: 1px 1px 1px var(--secondary);
            }
        }

        .row {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            gap: 15px;

            .label {
                font-size: 30px;
                text-align: center;
                text-wrap: balance;
            }

            img {
                max-width: 75px;
                animation: shake 2s ease-in-out infinite both;
            }
        }
    }

    #no-server-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        #bones {
            width: 55vw;

            animation: fadeIn 0.7s ease-out both;
        }

        #top-msg-no-server {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 1s;
            font-size: 40px;
        }

        #bot-msg-no-server {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 1.8s;

            font-size: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 25px;
            width: 100%;

            #discord {
                height: 60px;

                cursor: pointer;

                transition: all 0.2s ease-in;

                &:hover{
                    transform: scale(1.22) rotate(10deg);
                }
            }

            #gramophone {
                height: 60px;
            }
        }
    }

    #not-connected-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        font-size: 36px;

        #top-row-not-connected {
            animation: fadeIn 0.5s ease-out both;
            animation-delay: 0.5s;
        }

        #bot-row-not-connected {
            animation: fadeIn 0.4s ease-out both;
            animation-delay: 1.2s;
        }

        #last-row-not-connected {
            animation: fadeIn 0.4s ease-out both;
            animation-delay: 2.5s;

            .label {
                font-size: 28px;
            }
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 15px;
            max-width: 85%;

            img {
                max-height: 95px;
            }

            .label {
                font-size: 36px;
                text-wrap: balance;
                text-align: center;

                .clickable {
                    font-weight: 600;
                    color: var(--tertiary);

                    cursor: pointer;
                    transition: all 0.2s ease;

                    &:hover{
                        color: var(--secondary);
                        transform: scale(1.05);
                    }
                }
            }
        }
        
    }

    #connecting-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        #connecting-msg {
            font-size: 50px;
        }

        .enter-left-wrapper {
            animation: enterLeft 1s ease-in-out both;
        }

        #connecting-item {
            height: 200px;
            animation: pulsing 2s infinite ease-in-out;
            animation-delay: 0.7s;
        }
    }

    #connected-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 25px;

        #wagstaff-section {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 20px;
            font-size: 30px;

            text-wrap: balance;
            text-align: center;

            width: 85%;

            #wagstaff {
                height: 200px;
                animation: fadeIn 0.7s ease-out both;
            }

            .wagstaff-dialogue-top {
                animation: popIn 0.2s linear both;
                animation-delay: 1s;
            }

            .wagstaff-dialogue-bot {
                animation: popIn 0.2s linear both;
                animation-delay: 1.6s;
            }
        }

        #button-section {
            width: 100%;
            padding: 10px, 0px;

            display: flex;
            justify-content: space-around;
            align-items: center;



            #queue-button {
                animation: popIn 0.2s linear both;
                animation-delay: 2.4s;
            }

            #stats-button {
                animation: popIn 0.2s linear both;
                animation-delay: 2.6s;
            }
        }

        .footer {
            width: 100%;
            height: 100px;

            display: flex;
            justify-content: space-around;
            align-items: center;

            flex-direction: column;

            text-wrap: balance;
            text-align: center;
        }

        #world-gen-msg {
            color: var(--secondary);
            font-size: 24px;
            font-weight: 600;

            text-shadow: 1px 1px 1px var(--tertiary);
            animation: fadeIn 0.7s ease-out both;
            animation-delay: 3s;
        }

        #world-ready-msg {
            color: var(--secondary);
            font-size: 24px;
            animation: fadeIn 0.7s ease-out both;
            animation-delay: 1.4s;
        }

        #world-ready-warning {
            color: var(--warning);
            font-size: 24px;
            font-weight: 800;
            text-shadow: 1px 1px 1px var(--secondaryDark);
            animation: fadeIn 0.7s ease-out both;
            animation-delay: 2.4s;
        }

        #world-ready-msg {
            color: var(--secondary);
            font-size: 24px;
            animation: fadeIn 0.7s ease-out both;
            animation-delay: 2s;
        }

        #in-progress-footer {
            animation: fadeIn 0.7s ease-out both;
            animation-delay: 2s;
        }

        #completed-footer {
            animation: fadeIn 0.7s ease-out both;
            animation-delay: 2s;
        }
    }

    .button {
        font-family: var(--klei);
        font-size: 28px;
        color: var(--tertiary);

        border: 2px solid var(--tertiary);
        border-radius: 6px;

        padding: 15px 25px;

        cursor: pointer;
        transition: all 0.2s ease;

        &:hover{
            border: 2px solid var(--secondary);
            color: var(--secondary);
        }
    }

    .path-input {
        border: 2px solid var(--primary);
        color: var(--secondaryDark);
        background-color: var(--tertiary);

        border-radius: 6px;

        font-family: sans-serif;
        font-size: 20px;
        text-align: center;

        outline: none;

        width: 80%;
        padding: 20px 0px;

        max-height: 30px;

        transition: border-color 0.2s ease;

        &:focus {
            border-color: var(--tertiary);
            color: var(--secondaryDark);
            background-color: var(--primary);
        }

        &::placeholder {
            font-size: 22px;
            font-family: var(--klei);
            color: var(--secondary)
        }
    }
}

#popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    z-index: 9999;

    #popup {
        width: 250px;
        height: 200px;

        border: 2px solid var(--tertiary);
        border-radius: 24px;
        background: var(--secondaryGradientAlt);

        color: var(--tertiary);

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        animation: popIn 0.3s linear both;
        animation-delay: 0.2s;

        #popup-msg {
            font-size: 36px;
        }

        #close-popup-button {
            font-size: 30px;

            padding: 10px 25px;

            border: 2px solid var(--tertiary);
            border-radius: 6px;
            color: var(--tertiary);
            background-color: var(--primary);

            cursor: pointer;
            transition: all 0.2s ease-in;

            &:hover {
                border: 2px solid var(--primary);
                color: var(--primary);
                background-color: var(--tertiary);
            }

        }
    }
}
